@import '../../scss/index.scss';

.home {
  width: 100%;

  .plan-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 6vw;
    background-color: #fff;

    .plan {
      width: 100%;
    }
    .progress {
      height: 20px;
      overflow: hidden;
      background-color: #f5f5f5;
      border-radius: 2px;
      box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
      display: flex;
      justify-content: flex-start;

      .cost {
        height: 100%;
        font-size: rem(10);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-weight: bold;

        &.agile-cost {
          background-color: $green;
          background-image: linear-gradient(65deg,
          rgba(255,255,255,.15) 10%,
          transparent 10%,
          transparent 20%,
          rgba(255,255,255,.15) 20%,
          rgba(255,255,255,.15) 30%,
          transparent 30%,
          transparent 40%,
          rgba(255,255,255,.15) 40%,
          rgba(255,255,255,.15) 50%,
          transparent 50%,
          transparent 60%,
          rgba(255,255,255,.15) 60%,
          rgba(255,255,255,.15) 70%,
          transparent 70%,
          transparent 80%,
          rgba(255,255,255,.15) 80%,
          rgba(255,255,255,.15) 90%,
          transparent 90%,
          transparent);
        }
      }
    }

    .plan-title {
      font-size: rem(12);
      margin-bottom: 5px;
      font-weight: bold;
      color: $green;
    }
  }

  .bill-box {
    
    .bill-title {
      width: 100%;
      height: 4vh;
      padding: 0 3vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #fff;
      font-weight: bold;
      font-size: rem(12);
      line-height: 1em;
      background-color: $green;
    }
    .bill-list {
      padding: 6vw;
    }
    .single-bill {
      width: 100%;
      height: 30px;
      margin-bottom: 15px;
      border-radius: 2px;
      background-color: #fff;
      border: 1px solid rgba($color: $green, $alpha: 0.3);
      border-radius: 3px;
      position: relative;
      padding: 0 15px 0 20px;
      box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
      display: flex;
      justify-content: space-between;
      align-items: center;

      span.head {
        position: absolute;
        width: 24px;
        height: 24px;
        border-radius: 12px;
        background-color: #f5f5f5;
        border: 1px solid rgba($color: $green, $alpha: 0.5);
        top: -5px;
        left: -15px;
      }

      .left {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        div {
          margin-right: 10px;
        }
        .time {
          letter-spacing: 0;
        }
      }

      font-size: rem(12);
      font-weight: bold;
      color: $green;
      letter-spacing: 1px;
    }
  }

  .add {
    width: 12vw;
    height: 12vw;
    border-radius: 6vw;
    background-color: #fff;
    position: fixed;
    left: 44vw;
    bottom: 20px;
    padding: 10px;
    background: {
      color: #fff;
      image: url('../../images/add.png');
      size: 6vw;
      position: center;
      repeat: no-repeat;
    }
    box-shadow: 0px 14px 25px 0px rgba(0, 0, 0, 0.18);
  }
}